/* Karla font: weight 200, 400, 700*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&display=swap');

/* Reset default browser styling */
body {
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif; /* Use Karla font for body text */
}

/* Styling for navigation bar */
nav {
    background-color: beige; /* Set background color */
    padding: 5px; /* Add padding */
    height: 60px; /* Set height */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center align items vertically */
    justify-content: center; /* Center align items horizontally */
    position: fixed; /* Fix navigation bar at the top */
    width: 100%; /* Occupy full width */
}

/* Styling for navigation heading */
nav > h3 {
    margin: 0; /* Remove default margin */
}

/* Styling for blog list */
#blog-list {
    padding: 10px; /* Add padding */
}

/* Styling for form */
form {
    padding: 90px 10px 10px; /* Add padding */
    display: grid; /* Use grid layout */
    background-color: lightblue; /* Set background color */
}

/* Styling for input fields */
input#post-title, textarea#post-body {
    padding: 10px; /* Add padding */
    border-radius: 5px; /* Add border radius */
    border: 1px solid black; /* Add border */
    margin-bottom: 10px; /* Add margin */
}

/* Styling for button */
button {
    padding: 10px; /* Add padding */
    border-radius: 5px; /* Add border radius */
    border: 1px solid black; /* Add border */
    background-color: rgb(163, 162, 162); /* Set background color */
    cursor: pointer; /* Set cursor to pointer */
}

/* Styling for button hover state */
button:hover {
    background-color: white; /* Change background color on hover */
}